<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            />
        <link rel="stylesheet" href="/css/tabla.css" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="logo"><a th:href="@{/}">Portal Noticias</a></div>
                <ul class="links">
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li><a th:href="@{/noticia/tabla}">Modificar Noticia</a></li>
                    <li><a href="eliminarnoticia">Eliminar Noticia</a></li>
                </ul>
                <a th:href="@{/noticia/Formulario}" class="action_btn">Crear Noticia</a>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="dropdown_menu">
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{/noticia/tabla}">Modificar</a></li>
                <li><a href="#">Eliminar</a></li>
                <li><a th:href="@{/noticia/Formulario}" class="action_btn">Crear Noticia</a></li>
            </div>
        </header>

    <head>
    <div class="maintitle">
        <h1>Tabla de Noticias</h1>
    </div>

    <table class="tabla">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha de Alta</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody th:each="noticia : ${noticias}">
            <tr>
                <th scope="row" th:text="${noticia.id}"></th>
                <td class="titulotabla"th:text="${noticia.titulo}"></td>
                <td th:text="${noticia.alta}"></td>
                <td>
                    <a th:href="@{/noticia/modificar/__${noticia.id}__}">Modificar</a> 
                </td>    
            </tr>
        </tbody>
    </table>


    <script>
        const toggle_btn = document.querySelector(".toggle_btn");
        const toggle_btnIcon = document.querySelector(".toggle_btn i");
        const dropDownMenu = document.querySelector(".dropdown_menu");

        toggle_btn.onclick = function () {
        dropDownMenu.classList.toggle("open");
        const isOpen = dropDownMenu.classList.contains("open");

        toggle_btnIcon.classList = isOpen
        ? "fa-solid fa-xmark"
        : "fa-solid fa-bars";
        };
    </script>
</body>
</html>
